<h1 class="text-center">{{title}}</h1>
<form [formGroup]='editProductForm' novalidate class='form'>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Name</label>
        <div class="col-sm-4">
            <input formControlName='Title' type="text" class="form-control" />
        </div>
    </div>


    <div class="alert alert-danger"
        *ngIf="editProductForm.get('Title').hasError('required') && editProductForm.get('Title').touched">Product Name
        is required</div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Price</label>
        <div class="col-sm-4">
            <input formControlName='Price' type="text" class="form-control"  />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Color</label>
        <div class="col-sm-4">
            <input formControlName='Color' type="text" class="form-control" />

        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product inStock</label>
        <div class="col-sm-4">
            <input formControlName='instock' type="text" class="form-control"  />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Quantity</label>
        <div class="col-sm-4">
            <input formControlName='Quantity' type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Details</label>
        <div class="col-sm-4">
            <input formControlName='Description' type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product ImageUrl</label>
        <div class="col-sm-4">
            <input formControlName='ImageUrl' type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product Rating</label>
        <div class="col-sm-4 ">
            <input formControlName='Rating' type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Expiry Date</label>
        <div class="col-sm-4 ">
            <input formControlName='ExpiryDate' type="text" class="form-control" />
        </div>
    </div>
    <br>
    <button (click)='Goback()' style='margin-right:16px' class="btn">Back</button>
    <button (click)='updateProduct()' style='margin-right:16px' [disabled]='editProductForm.invalid'
        class="btn btn-info">Update</button>

    <button (click)='setDefault()' class="btn btn-warning">Default</button>

</form>